#cart-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px;
  background: #fff;
}

#cart-page-container #cart-steps-container {
  width: 70%;
  padding: 0 30px;
}

#cart-page-container #cart-steps-container #cart-steps {
  padding: 20px 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart-page-container #cart-steps-container #cart-steps p {
  font-weight: bolder;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 20px 30px;
  color: #000000;
}

#cart-page-container #cart-steps-container #cart-steps .active {
  border-bottom: 2px solid #4774c8ca;
  color: #4774c8;
}

#cart-page-container #cart-steps-container #specified-container {
  padding: 20px 30px;
  margin-bottom: 20px;
}

#cart-page-container #cart-steps-container #navigator-btn-container {
  padding: 0 30px;
}

#cart-page-container #cart-steps-container #navigator-btn-container .navigator-btn {
  padding: 7px 14px;
  margin-right: 10px;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}

#cart-page-container #cart-steps-container #navigator-btn-container #next-btn {
  background: #3bd46e;
}

#cart-page-container #cart-steps-container #navigator-btn-container #prev-btn {
  background: #e94444;
}

#cart-page-container #cart-steps-container #navigator-btn-container #payment-btn {
  background: #4774c8;
}

#cart-page-container #order-summary-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
}

#cart-page-container #order-summary-container #order-summary-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
}

#cart-page-container #order-summary-container #order-summary-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#cart-page-container #order-summary-container #order-summary-details #item-total,
#cart-page-container #order-summary-container #order-summary-details #item-total-amount {
  padding: 20px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#cart-page-container #order-summary-container #tax-amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#cart-page-container #order-summary-container #tax-amount-container #tax,
#cart-page-container #order-summary-container #tax-amount-container #tax-amount {
  padding: 0 20px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#cart-page-container #order-summary-container #order-total-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#cart-page-container #order-summary-container #order-total-container #order-total,
#cart-page-container #order-summary-container #order-total-container #order-total-amount {
  padding: 40px 20px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#cart-page-container #order-summary-container #voucher-code-container {
  padding: 0 20px;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-heading {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content {
  padding: 20px 0;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form input {
  height: 50px;
  width: 15vw;
  padding: 0 10px;
  letter-spacing: 0.1rem;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 50px;
  font-size: 0.8rem;
  background: #c84771;
  border: none;
  font-weight: bolder;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form #error {
  width: 100%;
  padding: 5px 0;
  font-size: 0.8rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #d82929;
}

#cart-item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart-item-card #cart-item-image {
  padding: 10px 20px;
}

#cart-item-card #cart-item-image img {
  height: 150px;
  width: 150px;
}

#cart-item-card #cart-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#cart-item-card #cart-item-details #cart-product-name {
  font-size: 1.5rem;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 0 5px;
}

#cart-item-card #cart-item-details #price-size-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
}

#cart-item-card #cart-item-details #price-size-color #cart-product-price {
  letter-spacing: 0.2rem;
  color: #4774c8;
}

#cart-item-card #cart-item-details #price-size-color #cart-product-size,
#cart-item-card #cart-item-details #price-size-color #cart-product-color {
  padding: 0 20px;
  letter-spacing: 0.2rem;
}

#cart-item-card #cart-item-details #cart-item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cart-item-card #cart-item-details #cart-item-btns #delete-item-btn {
  padding: 5px 10px;
  font-size: 1rem;
  color: #d82929;
  border: none;
  border-radius: 2px;
  background: rgba(216, 41, 41, 0.664);
}

#cart-item-card #cart-item-details #cart-item-btns #delete-item-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cart-item-card #cart-item-details #cart-item-btns #item-counter {
  margin-left: 20px;
  padding: 0 30px;
}

#cart-item-card #cart-item-details #cart-item-btns #item-counter button {
  height: 35px;
  padding: 0 10px;
  margin: 0 5px;
}

#cart-item-card #cart-item-details #cart-item-btns #item-counter input {
  height: 35px;
  width: 35px;
  padding: 0 10px;
}

#no-item-info-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#no-item-info-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  color: #5a5858;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #cart-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  #cart-page-container #cart-steps-container {
    width: 100%;
    padding: 0 5px;
  }
  #cart-page-container #cart-steps-container #cart-steps {
    padding: 5px 0;
    margin-bottom: 10px;
  }
  #cart-page-container #cart-steps-container #cart-steps p {
    font-size: 2vw;
    letter-spacing: 0;
    padding: 5px 7px;
  }
  #cart-page-container #cart-steps-container #specified-container {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container {
    padding: 0 10px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container .navigator-btn {
    padding: 5px 10px;
    margin-right: 7px;
    border-radius: 2px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container {
    width: 100%;
    padding: 30px 20px;
  }
  #cart-page-container #order-summary-container #order-summary-heading {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
  }
  #cart-page-container #order-summary-container #order-summary-details #item-total,
  #cart-page-container #order-summary-container #order-summary-details #item-total-amount {
    padding: 10px 20px;
    font-size: 0.45rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #tax-amount-container #tax,
  #cart-page-container #order-summary-container #tax-amount-container #tax-amount {
    padding: 10px 20px;
    font-size: 0.45rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #order-total-container #order-total,
  #cart-page-container #order-summary-container #order-total-container #order-total-amount {
    padding: 10px 20px;
    font-size: 0.45rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container {
    padding: 20px;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-heading {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content {
    padding: 10px 0;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form input {
    height: 35px;
    width: 50vw;
    padding: 0 5px;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button {
    padding: 0 10px;
    height: 35px;
    font-size: 0.7rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form #error {
    width: 100%;
    padding: 5px 0;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card {
    padding: 10px 0;
  }
  #cart-item-card #cart-item-image {
    padding: 10px 0;
  }
  #cart-item-card #cart-item-image img {
    height: 80px;
    width: 80px;
  }
  #cart-item-card #cart-item-details #cart-product-name {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    padding: 0 10px;
  }
  #cart-item-card #cart-item-details #price-size-color {
    padding: 5px 10px;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-price {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-size,
  #cart-item-card #cart-item-details #price-size-color #cart-product-color {
    padding: 0 20px;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #cart-item-btns {
    padding: 5px 10px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #delete-item-btn {
    padding: 3px 8px;
    font-size: 0.8rem;
    border-radius: 2px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter {
    margin-left: 2px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter button {
    font-size: 0.5rem;
    border: 1px solid black;
    height: 25px;
    padding: 0 10px;
    margin: 0 2px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter input {
    font-size: 0.5rem;
    height: 25px;
    width: 30px;
    padding: 0 10px;
  }
  #no-item-info-container p {
    font-size: 5vw;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  #cart-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  #cart-page-container #cart-steps-container {
    width: 100%;
    padding: 0 10px;
  }
  #cart-page-container #cart-steps-container #cart-steps {
    padding: 10px 0;
    margin-bottom: 15px;
  }
  #cart-page-container #cart-steps-container #cart-steps p {
    font-size: 2.5vw;
    letter-spacing: 0;
    padding: 5px 10px;
  }
  #cart-page-container #cart-steps-container #specified-container {
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container {
    padding: 0 10px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container .navigator-btn {
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 2px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container {
    width: 100%;
    padding: 30px 20px;
  }
  #cart-page-container #order-summary-container #order-summary-heading {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
  }
  #cart-page-container #order-summary-container #order-summary-details #item-total,
  #cart-page-container #order-summary-container #order-summary-details #item-total-amount {
    padding: 10px 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #tax-amount-container #tax,
  #cart-page-container #order-summary-container #tax-amount-container #tax-amount {
    padding: 10px 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #order-total-container #order-total,
  #cart-page-container #order-summary-container #order-total-container #order-total-amount {
    padding: 10px 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container {
    padding: 20px;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-heading {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content {
    padding: 15px 0;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form input {
    height: 40px;
    width: 55vw;
    padding: 0 10px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button {
    padding: 0 20px;
    height: 40px;
    font-size: 0.7rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form #error {
    width: 100%;
    padding: 5px 0;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card {
    padding: 10px 0;
  }
  #cart-item-card #cart-item-image {
    padding: 15px 0;
  }
  #cart-item-card #cart-item-image img {
    height: 100px;
    width: 100px;
  }
  #cart-item-card #cart-item-details #cart-product-name {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 0 20px;
  }
  #cart-item-card #cart-item-details #price-size-color {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-price {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-size,
  #cart-item-card #cart-item-details #price-size-color #cart-product-color {
    padding: 0 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #cart-item-btns {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #delete-item-btn {
    padding: 5px 12px;
    font-size: 0.9rem;
    border-radius: 2px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter {
    margin-left: 5px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter button {
    font-size: 0.7rem;
    border: 1px solid black;
    height: 30px;
    padding: 0 15px;
    margin: 0 5px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter input {
    font-size: 0.7rem;
    height: 30px;
    width: 40px;
    padding: 0 15px;
  }
  #no-item-info-container p {
    font-size: 6.5vw;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #cart-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  #cart-page-container #cart-steps-container {
    width: 100%;
    padding: 0 12px;
  }
  #cart-page-container #cart-steps-container #cart-steps {
    padding: 12px 0;
    margin-bottom: 20px;
  }
  #cart-page-container #cart-steps-container #cart-steps p {
    font-size: 1rem;
    letter-spacing: 0;
    padding: 6px 12px;
  }
  #cart-page-container #cart-steps-container #specified-container {
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container {
    padding: 0 10px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container .navigator-btn {
    padding: 7px 14px;
    margin-right: 12px;
    border-radius: 2px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container {
    width: 100%;
    padding: 30px 20px;
  }
  #cart-page-container #order-summary-container #order-summary-heading {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  #cart-page-container #order-summary-container #order-summary-details #item-total,
  #cart-page-container #order-summary-container #order-summary-details #item-total-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #tax-amount-container #tax,
  #cart-page-container #order-summary-container #tax-amount-container #tax-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #order-total-container #order-total,
  #cart-page-container #order-summary-container #order-total-container #order-total-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container {
    padding: 20px;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-heading {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content {
    padding: 15px 0;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form input {
    height: 40px;
    width: 60vw;
    padding: 0 15px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button {
    padding: 0 30px;
    height: 40px;
    font-size: 0.8rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form #error {
    width: 100%;
    padding: 5px 0;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card {
    padding: 10px 0;
  }
  #cart-item-card #cart-item-image {
    padding: 20px 0;
  }
  #cart-item-card #cart-item-image img {
    height: 150px;
    width: 150px;
  }
  #cart-item-card #cart-item-details #cart-product-name {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0 20px;
  }
  #cart-item-card #cart-item-details #price-size-color {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-price {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-size,
  #cart-item-card #cart-item-details #price-size-color #cart-product-color {
    padding: 0 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #cart-item-btns {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #delete-item-btn {
    padding: 5px 12px;
    font-size: 0.9rem;
    border-radius: 2px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter {
    margin-left: 5px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter button {
    font-size: 0.7rem;
    border: 1px solid black;
    height: 30px;
    padding: 0 15px;
    margin: 0 5px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter input {
    font-size: 0.7rem;
    height: 30px;
    width: 40px;
    padding: 0 15px;
  }
  #no-item-info-container p {
    font-size: 7vw;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #cart-page-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  #cart-page-container #cart-steps-container {
    width: 100%;
    padding: 0 12px;
  }
  #cart-page-container #cart-steps-container #cart-steps {
    padding: 12px 0;
    margin-bottom: 20px;
  }
  #cart-page-container #cart-steps-container #cart-steps p {
    font-size: 1rem;
    letter-spacing: 0;
    padding: 6px 12px;
  }
  #cart-page-container #cart-steps-container #specified-container {
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container {
    padding: 0 10px;
  }
  #cart-page-container #cart-steps-container #navigator-btn-container .navigator-btn {
    padding: 7px 14px;
    margin-right: 12px;
    border-radius: 2px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container {
    width: 100%;
    padding: 30px 20px;
  }
  #cart-page-container #order-summary-container #order-summary-heading {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
  }
  #cart-page-container #order-summary-container #order-summary-details #item-total,
  #cart-page-container #order-summary-container #order-summary-details #item-total-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #tax-amount-container #tax,
  #cart-page-container #order-summary-container #tax-amount-container #tax-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #order-total-container #order-total,
  #cart-page-container #order-summary-container #order-total-container #order-total-amount {
    padding: 10px 20px;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container {
    padding: 20px;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-heading {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content {
    padding: 15px 0;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form input {
    height: 40px;
    width: 60vw;
    padding: 0 15px;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form button {
    padding: 0 30px;
    height: 40px;
    font-size: 0.8rem;
  }
  #cart-page-container #order-summary-container #voucher-code-container #voucher-code-content form #error {
    width: 100%;
    padding: 5px 0;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card {
    padding: 10px 0;
  }
  #cart-item-card #cart-item-image {
    padding: 20px 0;
  }
  #cart-item-card #cart-item-image img {
    height: 150px;
    width: 150px;
  }
  #cart-item-card #cart-item-details #cart-product-name {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0 20px;
  }
  #cart-item-card #cart-item-details #price-size-color {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-price {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #price-size-color #cart-product-size,
  #cart-item-card #cart-item-details #price-size-color #cart-product-color {
    padding: 0 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
  }
  #cart-item-card #cart-item-details #cart-item-btns {
    padding: 5px 20px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #delete-item-btn {
    padding: 5px 12px;
    font-size: 0.9rem;
    border-radius: 2px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter {
    margin-left: 5px;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter button {
    font-size: 0.7rem;
    border: 1px solid black;
    height: 30px;
    padding: 0 15px;
    margin: 0 5px;
  }
  #cart-item-card #cart-item-details #cart-item-btns #item-counter input {
    font-size: 0.7rem;
    height: 30px;
    width: 40px;
    padding: 0 15px;
  }
  #no-item-info-container p {
    font-size: 7vw;
    letter-spacing: 0.1rem;
    text-align: center;
  }
}
/*# sourceMappingURL=cartPage.css.map */