#cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#cart-container #cart-icon {
  font-size: 1.5rem;
  color: #c84771;
}

#cart-container #cart-icon:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #cart-container {
    height: 30px;
    width: 30px;
  }
  #cart-container #cart-icon {
    font-size: 0.7rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    position: absolute;
    border-radius: 100%;
    margin-bottom: 15px;
    font-size: 0.5rem;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  #cart-container {
    height: 45px;
    width: 45px;
  }
  #cart-container #cart-icon {
    font-size: 0.9rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    position: absolute;
    border-radius: 100%;
    margin-bottom: 20px;
    font-size: 0.6rem;
    font-weight: bolder;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #cart-container {
    height: 50px;
    width: 50px;
  }
  #cart-container #cart-icon {
    font-size: 1.1rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    position: absolute;
    border-radius: 100%;
    margin-bottom: 28px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #cart-container {
    height: 55px;
    width: 55px;
  }
  #cart-container #cart-icon {
    font-size: 1.3rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #4774c8;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #cart-container {
    height: 60px;
    width: 60px;
  }
  #cart-container #cart-icon {
    font-size: 1.5rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #4774c8;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  #cart-container {
    height: 65px;
    width: 65px;
  }
  #cart-container #cart-icon {
    font-size: 1.5rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #4774c8;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 1400px) {
  #cart-container {
    height: 75px;
    width: 75px;
  }
  #cart-container #cart-icon {
    font-size: 2rem;
    color: #c84771;
  }
  #cart-container #cart-item-count {
    height: 20px;
    width: 20px;
    border-radius: 7px;
    background: #4774c8;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3px;
    font-size: 0.7rem;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=cart.css.map */