#product-description-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  margin: 30px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  #product-image-container {
    width: 40%;
    border-radius: inherit;
    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  #product-complete-description {
    width: 60%;
    padding: 20px 40px;
    text-align: justify;
    #product-name {
      font-size: 3rem;
      letter-spacing: 0.2rem;
    }
    #product-seller-name {
      font-size: 1rem;
      padding: 5px 0;
      letter-spacing: 0.1rem;
    }
    .product-stock-status {
      padding: 5px 0;
      font-size: 1.2rem;
      font-weight: bolder;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
    #product-status-in-stock {
      color: #15c257;
    }
    #product-status-out-of-stock {
      color: #c22415;
    }
    #product-price {
      font-size: 3rem;
      letter-spacing: 0.2rem;
    }
    #product-long-description {
      padding: 20px 0;
      font-size: 0.9rem;
      font-weight: bolder;
      color: #383737;
    }
    #product-variant-div {
      padding: 20px 0;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      .variant-selector {
        display: flex;
        margin: 0 30px 0 0;
        align-items: center;
        p {
          padding-right: 20px;
          font-size: 1.1rem;
          font-weight: bolder;
          letter-spacing: 0.2rem;
        }
        select {
          padding: 10px;
          width: 150px;
          border-radius: 7px;
          font-size: 1rem;
          font-weight: bolder;
        }
      }
    }
    #add-to-cart-btn {
      padding: 15px 30px;
      font-size: 1rem;
      border: none;
      color: white;
      background: #4774c8;
      border-radius: 8px;
      letter-spacing: 0.2rem;

      &:hover {
        // padding: 17px 32px;
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
    }
  }
}
#product-review-container {
  background: #fff;
  margin: 30px;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  #customer-review-heading {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    color: #4774c8;
  }
  #review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    #no-reviews {
      font-size: 1.2rem;
      font-weight: bolder;
      letter-spacing: 0.2rem;
    }

    #review-item {
      display: flex;

      #review-user,
      #review-content {
        font-weight: bolder;
        padding: 20px 0;
        text-align: justify;
        letter-spacing: 0.1rem;
      }
      #review-user {
        width: 20%;
        font-size: 1.1rem;
        color: #c84771;
      }
      #review-content {
        width: 80%;
        font-size: 1rem;
        color: #4774c8;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #product-description-container {
    margin: 30px;
    border-radius: 10px;
    padding: 20px;

    #product-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 150px;
        height: 150px;
      }
    }
    #product-complete-description {
      width: 100%;
      padding: 0;
      #product-name {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
      }
      #product-seller-name {
        font-size: 0.7rem;
        padding: 5px 0;
        letter-spacing: 0.1rem;
      }
      .product-stock-status {
        padding: 5px 0;
        font-size: 0.4rem;
        letter-spacing: 0.1rem;
      }
      #product-price {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
      #product-long-description {
        padding: 5px 0;
        font-size: 0.5rem;
        letter-spacing: 0.1rem;
        margin-bottom: 10px;
      }
      #product-variant-div {
        padding: 10px 0 5px 0;
        justify-content: space-between;
        margin-bottom: 20px;
        .variant-selector {
          p {
            padding-right: 5px;
            font-size: 0.5rem;
            letter-spacing: 0.1rem;
          }
          select {
            padding: 5px;
            width: 20vw;
            border-radius: 2px;
            font-size: 0.5rem;
          }
        }
      }
      #add-to-cart-btn {
        padding: 7px 15px;
        font-size: 0.5rem;
        border-radius: 2px;
        letter-spacing: 0.1rem;
      }
    }
  }
  #product-review-container {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;

    #customer-review-heading {
      padding: 10px 0;
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    #review-container {
      #no-reviews {
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
      #review-item {
        flex-direction: column;
        padding: 10px 0;
        #review-user,
        #review-content {
          letter-spacing: 0.1rem;
        }
        #review-user {
          padding: 5px 0;
          width: 100%;
          font-size: 0.7rem;
        }
        #review-content {
          padding: 0;
          width: 100%;
          font-size: 0.6rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  #product-description-container {
    margin: 20px;
    border-radius: 10px;
    padding: 20px 10px;

    #product-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 200px;
        height: 200px;
      }
    }
    #product-complete-description {
      width: 100%;
      padding: 10px;
      #product-name {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
      }
      #product-seller-name {
        font-size: 0.75rem;
        padding: 5px 0;
        letter-spacing: 0.1rem;
      }
      .product-stock-status {
        padding: 5px 0;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
      }
      #product-price {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
      }
      #product-long-description {
        padding: 5px 0 10px 0;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        margin-bottom: 15px;
      }
      #product-variant-div {
        padding: 10px 0;
        margin-bottom: 20px;
        .variant-selector {
          margin: 0 15px 0 0;
          p {
            padding-right: 10px;
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
          }
          select {
            padding: 5px;
            width: 25vw;
            border-radius: 5px;
            font-size: 0.7rem;
          }
        }
      }
      #add-to-cart-btn {
        padding: 10px 20px;
        font-size: 0.7rem;
        border-radius: 5px;
        letter-spacing: 0.1rem;
      }
    }
  }
  #product-review-container {
    margin: 25px;
    border-radius: 10px;
    padding: 20px;

    #customer-review-heading {
      padding: 10px 0;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
    }
    #review-container {
      #no-reviews {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
      #review-item {
        flex-direction: column;
        padding: 10px 0;
        #review-user,
        #review-content {
          letter-spacing: 0.2rem;
        }
        #review-user {
          padding: 10px 0;
          width: 100%;
          font-size: 0.9rem;
        }
        #review-content {
          padding: 0;
          width: 100%;
          font-size: 0.7rem;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #product-description-container {
    margin: 20px;
    border-radius: 10px;
    padding: 20px;

    #product-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 250px;
        height: 250px;
      }
    }
    #product-complete-description {
      width: 100%;
      padding: 10px;
      #product-name {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
      }
      #product-seller-name {
        font-size: 0.9rem;
        padding: 5px 0;
        letter-spacing: 0.2rem;
      }
      .product-stock-status {
        padding: 5px 0;
        font-size: 0.9rem;
        letter-spacing: 0.2rem;
      }
      #product-price {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
      }
      #product-long-description {
        padding: 5px 0;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        margin-bottom: 20px;
      }
      #product-variant-div {
        padding: 10px 0;
        margin-bottom: 20px;
        .variant-selector {
          margin: 0 15px 0 0;
          p {
            padding-right: 10px;
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
          }
          select {
            padding: 10px;
            width: 20vw;
            border-radius: 5px;
            font-size: 0.7rem;
          }
        }
      }
      #add-to-cart-btn {
        padding: 10px 20px;
        font-size: 0.7rem;
        border-radius: 5px;
        letter-spacing: 0.1rem;
      }
    }
  }
  #product-review-container {
    margin: 25px;
    border-radius: 10px;
    padding: 20px;

    #customer-review-heading {
      padding: 10px 0;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
    }
    #review-container {
      #no-reviews {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
      #review-item {
        padding: 10px 0;
        flex-direction: column;
        #review-user,
        #review-content {
          letter-spacing: 0.2rem;
        }
        #review-user {
          padding: 10px 0;
          width: 100%;
          font-size: 0.9rem;
        }
        #review-content {
          padding: 0;
          width: 100%;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #product-description-container {
    border-radius: 10px;
    padding: 20px;

    #product-image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 400px;
        height: 400px;
      }
    }
    #product-complete-description {
      width: 100%;
      padding: 20px 30px;
      #product-name {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
      #product-seller-name {
        font-size: 1.1rem;
        padding: 5px 0;
        letter-spacing: 0.2rem;
      }
      .product-stock-status {
        padding: 5px 0;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
      }
      #product-price {
        font-size: 2.7rem;
        letter-spacing: 0.2rem;
      }
      #product-long-description {
        padding: 10px 0;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 20px;
      }
      #product-variant-div {
        padding: 10px 0;
        margin-bottom: 30px;
        .variant-selector {
          margin: 0 35px 0 0;
          p {
            padding-right: 20px;
            font-size: 1rem;
            letter-spacing: 0.1rem;
          }
          select {
            padding: 10px;
            width: 25vw;
            border-radius: 5px;
            font-size: 1rem;
          }
        }
      }
      #add-to-cart-btn {
        padding: 20px 25px;
        font-size: 1rem;
        border-radius: 7px;
        letter-spacing: 0.2rem;
      }
    }
  }
  #product-review-container {
    margin: 25px;
    border-radius: 10px;
    padding: 20px;

    #customer-review-heading {
      padding: 10px 0;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
    }
    #review-container {
      #no-reviews {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }
      #review-item {
        padding: 10px 0;
        #review-user,
        #review-content {
          letter-spacing: 0.2rem;
        }
        #review-user {
          padding: 10px 0;
          width: 30%;
          font-size: 0.9rem;
        }
        #review-content {
          padding: 10px 0;
          width: 70%;
          font-size: 0.8rem;
        }
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #product-description-container {
    border-radius: 10px;
    padding: 20px;

    #product-image-container {
      width: 40%;
      display: flex;
      justify-content: center;
      img {
        width: 400px;
        height: 400px;
      }
    }
    #product-complete-description {
      width: 60%;
      padding: 10px;
      #product-name {
        font-size: 2rem;
        letter-spacing: 0.2rem;
      }
      #product-seller-name {
        font-size: 1.1rem;
        padding: 5px 0;
        letter-spacing: 0.2rem;
      }
      .product-stock-status {
        padding: 5px 0;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
      }
      #product-price {
        font-size: 2.7rem;
        letter-spacing: 0.2rem;
      }
      #product-long-description {
        padding: 10px 0;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        margin-bottom: 20px;
      }
      #product-variant-div {
        padding: 10px 0;
        margin-bottom: 30px;
        .variant-selector {
          margin: 0 35px 0 0;
          p {
            padding-right: 20px;
            font-size: 1rem;
            letter-spacing: 0.1rem;
          }
          select {
            padding: 10px;
            width: 15vw;
            border-radius: 5px;
            font-size: 1rem;
          }
        }
      }
      #add-to-cart-btn {
        padding: 20px 25px;
        font-size: 1rem;
        border-radius: 7px;
        letter-spacing: 0.2rem;
      }
    }
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) and (max-width: 1399px) {
// }

// // Larger Devices
// @media only screen and (min-width: 1400px) {
// }
